<ion-content [fullscreen]="true" >

  <div id="container" >
    <ion-card>
      <ion-card-header>
        <ion-card-title>Recuperar contraseña</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <ion-list>
          <ion-item>
            <ion-input [(ngModel)]="user.password1" label="Nueva contraseña" type="password" labelPlacement="floating"
              placeholder="Ingrese su nueva contraseña">
            </ion-input>
          </ion-item>
          <ion-item>
            <ion-input [(ngModel)]="user.password2" label="Confirmar contraseña" type="password" labelPlacement="floating"
              placeholder="Ingrese nuevamente su contraseña">
            </ion-input>
          </ion-item>
          <ion-text color="danger" *ngIf="mensaje">{{ mensaje }}</ion-text>
          <ion-button fill="outline" (click)="validar()">Restablecer mi contraseña</ion-button>
        </ion-list>
      </ion-card-content>
    </ion-card>
  </div>

</ion-content>