<ion-header>
  <ion-button [routerLink]="['/controller']" fill=clear slot="end">
    controller
  </ion-button>
</ion-header>

<ion-content [fullscreen]="true">

  <div class="login">
    <img src="/assets/img/logo.png" alt="logo">
  </div>

  <div id="container">
    <ion-card>
      <ion-card-header>
        <ion-card-subtitle>Login de acceso profesor</ion-card-subtitle>
        <ion-card-title>Credenciales</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <ion-list>
          <ion-item>
            <ion-input label="Usuario" labelPlacement="floating" placeholder="Ingrese su usuario"></ion-input>
          </ion-item>
          <ion-item>
            <ion-input label="Contraseña" labelPlacement="floating" placeholder="Ingrese su contraseña"
              type="password"></ion-input>
            <ion-icon [name]="mostrarPassword ? 'eye-off' : 'eye'" slot="end"
              (click)="togglePassword1Visibility()"></ion-icon>
          </ion-item>
          <!-- Enlace de restablecimiento de contraseña -->
          <ion-item lines="none">
            <ion-label>
              <a [routerLink]="['/resetpass']">Restablecer mi contraseña</a>
            </ion-label>
          </ion-item>
          <!-- Mensaje -->

          <div *ngIf="spinner" class="spinner-container">
            <ion-spinner></ion-spinner>
            <p>Cargando...</p>
          </div>
          <ion-button fill="outline">Conectar</ion-button>
          <ion-button fill="outline">Registrar</ion-button>
        </ion-list>
      </ion-card-content>
    </ion-card>
  </div>

  <ion-fab vertical="bottom" horizontal="start" style="margin: bottom 30px;">
    <ion-fab-button [routerLink]="['/inicio']">
      <ion-icon name="chevron-back"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>